body {
  margin: 0;
}
.hello {
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  background-color: #fbfbfd;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px
}

.navbar-container::after,
.navbar-container::before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.navbar-container::after {
  clear: both;
}

.navbar {
  position: relative;
  float: right;
}
.logo-link {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333;
}

.logo {
  display: inline-block;
  overflow: visible;
  max-width: 29px;
  padding-top: 14px;
}

.nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Outfit, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-link:hover {
  color: #007aff;
  font-weight: 400;
}

.nav-link:focus-visible {
  border-radius: 20px;
  outline-offset: -15px;
  outline: #007aff solid 4px;
}

.nav-link[data-wf-focus-visible] {
  border-radius: 20px;
  outline-offset: -15px;
  outline: #007aff solid 4px;
}

.section-hello {
  position: static;
  display: block;
  padding-top: 165px;
  padding-bottom: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fbfbfd;
  text-align: center;
}

.label-text {
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Outfit, sans-serif;
  color: #252525;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Outfit, sans-serif;
  color: #252525;
  font-size: 32px;
  text-decoration: none;
}

.paragraph-1 {
  position: static;
  display: inline-block;
  overflow: visible;
  width: auto;
  max-width: 350px;
  margin-bottom: 48px;
  font-family: Outfit, sans-serif;
  color: #252525;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.section-2 {
  display: block;
  padding-top: 40px;
  padding-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: Outfit, sans-serif;
  color: #252525;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}

.banner-grande {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.banner-grande:hover {
  box-shadow: 0 0 8px 0 #9ba1a8;
  outline-offset: -1px;
  outline: #252525 solid 0.2px;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.section-3 {
  display: block;
  margin-bottom: 32px;
  padding-top: 40px;
  padding-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
}

.outros-estudos {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: Outfit, sans-serif;
  color: #252525;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  -o-object-fit: fill;
  object-fit: fill;
}

.layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.other-works {
  grid-auto-flow: column;
  -ms-grid-columns: minmax(200px, 1fr) 1fr 1fr;
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.card-outros-estudos {
  position: relative;
  z-index: 1;
  border-radius: 8px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image-18 {
  width: 100%;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.image-18:hover {
  box-shadow: none;
  outline-offset: -1px;
  outline: #252525 solid 0.2px;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.div-block-14:hover {
  /* DOESNT WORK  */
  z-index: 4;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: 80%;
  height: 100%;
  margin-left: 33px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -webkit-perspective: 100px;
  perspective: 100px;
  mix-blend-mode: hard-light;
}

.div-block-14._2-0:hover {
  opacity: 0.1;
}

.em-breve {
  width: 389px;
  height: 256px;
}

.about-me {
  padding-top: 104px;
  padding-bottom: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fbfbfd;
}

.about-me.homepage {
  border-radius: 0;
}

.w-clearfix:after,
.w-clearfix:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix:after {
  clear: both;
}

.container-about-me {
  position: static;
  max-width: 1200px;
  padding-right: 80px;
  padding-left: 80px;
  text-align: left;
  margin: auto;
}

.button {
  position: static;
  margin-right: 48px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #007aff;
  font-family: Outfit, sans-serif;
  color: #fff;
  font-size: 20px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill
}

.button:hover {
  background-color: #0066d6
}

.button:active {
  background-color: #1f4999
}

.button:focus-visible {
  outline-offset: 4px;
  outline: #007aff solid 4px
}

.w-button {
  display: inline-block;
  padding: 12px 24px;
  margin-right: 48px;
  background-color: #007aff;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
}

.button.resume {
  margin-left: -24px;
  background-color: transparent;
  color: #007aff
}

.button.resume:hover {
  background-color: #e9e9eb
}

.button.resume:active {
  background-color: #d3d3d3
}

.paragraph {
  position: static;
  overflow: visible;
  width: auto;
  max-width: 47ch;
  margin-bottom: 48px;
  font-family: Outfit, sans-serif;
  color: #252525;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill
}

.euzim {
  max-width: 650px;
  margin-top: -735px;
  margin-right: 80px;
  margin-bottom: -130px;
  float: right;
}






.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr auto auto;
  row-gap: 15px;

}

.image-16 {
  width: 336px;
  height: 224px;
  border-radius: 8px;
  -webkit-transition: .2s;
  transition: .2s;
}

.image-16:hover {
  box-shadow: 0 0 12px 0 #9ba1a8;
  outline-offset: -1px;
  outline: #252525 solid 1px;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03)
}




.link-externo {
  position: static;
  margin-right: 24px;
  padding: 8px 18px;
  border-radius: 8px;
  background-color: transparent;
  font-family: Outfit, sans-serif;
  color: #007aff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill
}

.email-c-icon {
  position: static;
  display: block;
  max-width: 20ch;
  margin-top: 64px;
  margin-bottom: 8px;
  padding-left: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #121212;
  font-size: 24px;
  font-family: Outfit, sans-serif;
}

.copyright {
  margin-top: 86px;
  margin-bottom: 12px;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 18px;
  color: #121212;
  font-size: 12px;
  font-family: Outfit, sans-serif;
  line-height: 1;
  font-weight: 400;
  text-decoration: none
}